/**** contenedores ****/

@mixin posicion-cont($ancho, $margen) {
  width: $ancho;
  margin: $margen;
  padding: 0;
}

.contenedor {
  @include posicion-cont(100%, 0);
}

.alinear-h {
  @include posicion-cont(70%, 0 auto);

  @media #{$tablet} {
    width: 80%;
  }

  @media #{$movil} {
    width: 90%;
  }
}

@mixin debug($ancho) {
  @debug "ancho es : #{$ancho}";
}

@include debug(100%);

$i: 1;

@while $i < 5 {
  .ancho-#{$i} {
    position: relative;
    width: $i * 25%;
    height: auto;
    min-height: 1px;
    overflow: auto;
    padding: 0 0.75rem;
    box-sizing: border-box;
    float: left;

    $j: 1;

    @while $j <= $i {
      @debug $j;

      $j: $j +1;
    }
    $list: 12px
  }
  $i: $i + 1;
}
/*----- TERMINA Código _contenedores.scss ----- */
