/**** contenedores ****/

@mixin posicion-cont($ancho, $margen) {
  width: $ancho;
  margin: $margen;
  padding: 0;
}

.contenedor {
  @include posicion-cont(100%, 0);
}

.alinear-h {
  @include posicion-cont(70%, 0 auto)
}

.ancho-1 {
  position: relative;
  width: 25%;
  height: auto;
  min-height: 1px;
  overflow: auto;
  padding: 0 0.75rem;
  box-sizing: border-box;
  float: left;
}

.ancho-2 {
  position: relative;
  width: 50%;
  height: auto;
  min-height: 1px;
  overflow: auto;
  padding: 0 0.75rem;
  box-sizing: border-box;
  float: left;
}

/*duh*/
.ancho-3 {
  position: relative;
  width: 75%;
  height: auto;
  min-height: 1px;
  overflow: auto;
  padding: 0 0.75rem;
  box-sizing: border-box;
  float: left;
}

.ancho-4 {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 1px;
  overflow: auto;
  padding: 0 0.75rem;
  box-sizing: border-box;
  float: left;
}
/*----- TERMINA Código _contenedores.scss ----- */
