@import "vars-mixins";

/*----- INICIA Código CSS -----*/
$texto-neutro: #333333;
$texto-claro: #ffffff;
$texto-resalta: #ffc500;
$texto-enlace: #007788;

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  color: #333333;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #333333;
}

p,
span {
  color: #333333;
}

img {
  background: grey;
}

a {
  color: $texto-enlace;
  &:hover {
    color: lighten($texto-enlace, 10);
  }
}

@import "contenedores";
@import "cabecera";
@import "general";
@import "titulos";
@import "formularios";
@import "colores";
@import "practica-arreglos";
/*----- TERMINA Código CSS -----*/
